<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments :: meta}"></th:block>
    <title>Product Details</title>
</head>
<body>
<div th:insert="~{fragments :: header-bar}"></div>

<!--todo if isAdmin показать автор -->

<div class="container">
    <h1>Product Details</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Main</a></li>
            <li class="breadcrumb-item"><a href="#">Category</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span th:text="${product.name}"></span></li>
            <li class="breadcrumb-item " aria-current="page"><a th:href="@{/products}">Back to List</a></li>
        </ol>

    </nav>

    <div class="row" >

        <div class="col-4">
            <div class="card m-1" style="height: 500px">images</div>

        </div>

        <div class="col-4">
            <div class="card m-1" style="height: 500px">
                <p>ID: <span th:text="${product.id}"></span> Name: <span th:text="${product.name}"></span> </p>

                <p>Description: <span th:text="${product.description}"></span></p>
            </div>
        </div>

        <div class="col-4">
            <div class="card m-1" style="height: 500px">
                <p>Price: <span th:text="${product.price}"></span>  </p>
                <span><a th:href="@{/products/{id}/cart(id=${product.id})}" class="btn btn-warning">Buy</a></span>
            </div>

        </div>


    </div>




</div>



</body>
</html>