<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments :: meta}"></th:block>
    <title>Order Details</title>
</head>
<body>
<div th:insert="~{fragments :: header-bar}"></div>


<div class="d-flex align-items-center justify-content-center ">
    <div class="text-center mt-5">
        <h1 class="display-4">Your order has been successfully placed!</h1>
        <div class="mt-5 mb-5" style="text-align: center">
            <h1 th:text="${order.status}"
                th:class="${order.status.name eq 'COMPLETED' ? 'text-success' : (order.status.name eq 'PENDING' ? 'text-primary' : (order.status.name eq 'CANCELLED' ? 'text-danger' : ''))}">
            </h1>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">PRODUCT</th>
                <th scope="col">PRICE</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">SUBTOTAL</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${order.items}">
                <td th:text="${item.product.name}"></td>
                <td th:text="'$' + ${item.product.price}"></td>
                <td th:text="${item.quantity}"></td>
                <td class="subtotal" th:text="'$' + ${item.product.price * item.quantity}"></td>
            </tr>
            </tbody>
        </table>
        <form th:action="@{/catalog}" method="get">
            <button type="submit" class="btn btn-dark">Go Catalog</button>
        </form>
    </div>
</div>

</body>
</html>