<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments :: meta}"></th:block>
    <title>Product Details</title>
</head>
<body>
<div th:insert="~{fragments :: header-bar}"></div>

<div class="container">
    <nav class="mt-3"  aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="color: black;" th:href="@{/catalog}">Catalog</a></li>
            <li class="breadcrumb-item"><a style="color: black;" th:href="@{/catalog/{category}(category=${category.name})}" th:text="${category.name}">Category</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span th:text="${product.name}"></span></li>
        </ol>
    </nav>

    <div class="row" >

        <div class="col-7">
            <div class="card">
                <!--                <img src="product-image-1.jpg" class="card-img-top" alt="Product 1">-->
                <div class="card-body">
                    <a th:href="@{/catalog/products/{id}(id=${product.id})}" style="text-decoration: none; color: inherit;">
                        <h5 class="card-title" th:text="${product.name}"></h5>
                    </a>
                    <p class="card-text" th:text="${product.description}"></p>
                    <p class="card-text"><strong th:text="'Price: $' + ${product.price}"></strong></p>
                    <div class="btn-group" role="group" aria-label="Product actions">
                        <form th:action="@{/cart/{id}/add(id=${product.id})}" method="post">
                            <button type="submit" class="btn btn-dark" style="margin-right: 5px">Buy Now</button>
                        </form>
                        <div sec:authorize="hasRole('ADMIN')" class="btn-group" role="group" >
                            <form sec:authorize="hasRole('ADMIN')" th:action="@{/admin/products/{id}/edit(id=${product.id})}" method="get">
                                <button type="submit" class="btn btn-primary" style="margin-right: 5px">Edit</button>
                            </form>
                            <form sec:authorize="hasRole('ADMIN')" th:action="@{/admin/products/{id}/delete(id=${product.id})}" method="post">
                                <button type="submit" class="btn btn-primary" style="margin-right: 5px">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>




</div>



</body>
</html>